
.bannerImage {
    animation: welcome 3s;
    overflow: hidden;
}

.bio__image {
    max-height: 300px;
    max-width: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}

.albumImg {
    max-width: 450px;
    max-height: 450px;
    overflow: hidden;
}