@import "../utilities/color";

.list-group-item {
    background-color: $backGroundColor;
}

div {
    ol {
        li {
            font-size: 0.9 rem;
            color: $mystic;
            padding-top: 5px;
        }
    }
}