@import "../utilities/color";

.bio {
    background-color: $frenchGray;
    text-align: center;
}

.bio__text {
    text-align: left;
    padding: 20px;
    color: $ebony;
    background-color: $frenchGray;
}

.albumDetails {
    overflow: hidden;
    background-color: $ebony;
    max-width: 450px;
    max-height: 450px;
    color: $chino;
    line-height: 90%;
    margin: 0;
}
